.App {
  text-align: center;
}

.App-logo {
  /* height: 4em; */
  pointer-events: none; /* prevent interacting with the logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 8em;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.branding{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.social-icons{ /* social icons container */
  padding-top: 30px;
  padding-left: 30px;
}

.social-icon{
  height: 30px;
  padding-right: 20px;
}

.social-icon:first-child{
  padding-right: 12px; /* accounts for the twitter logo being wider */
}

.App-link {
  color: #61dafb;
}

/* Navigation Bar */
nav{ /* Wrapper */
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 700px;
}

nav a{ /* Menu Icons */
  display: inline-block;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding: 1em 2em;
  text-decoration: none;
  color: #000;
}

nav label, #hamicon{ /* Hide hamburger icon for destop */
  display: none;
  font-size: 28pt
}

nav a:last-child{
  border-right: 3px solid black;
}

nav a:hover{
  background-color: #38B6FF;
}

section{
  text-align: center;
}

/* Storefront */
.storefront{ /* Wrapper */
  display: flex;
  justify-content: space-between;
  margin: 3em auto;
  max-width: 1000px;
}

.main-products{ /* Products Wrapper */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.main-products .book{ /* a Book */
  display: flex;
  align-content: center;
  align-items: center;
  margin: 0 10px 10px 10px;
  padding: 0.4em;
  width: 300px;
  height: 260px;
  outline: 2px solid black;
  z-index:9999;
}

.book-info{
  font-size: 10pt;
  text-align: left;
  padding-left: .4em;
}

.featured-products{
  display: flex;
  flex-direction: column;
}

/* Featured Singular Book Items */
.featured-products .book{
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.4em;
  outline: 2px solid black;
}

.author{
  display: inline;
  padding-right: 5px;
}

.is-selected{
  box-shadow: inset 0px 0px 40px 4px lightblue;
}

/* Footer */
footer{display: none}

footer .social-icons{
  padding: 0;
}

/* Styles for mobiles */
@media(max-width: 1000px){
  /* Storefront */
  .storefront{ /* Wrapper */
    flex-direction: column-reverse;
  }

  .main-products {
    justify-content: center;
  }

  .main-products .book {
    width: 400px;
  }

  .featured-products{
    
    text-align: center;
    background-color: lightgray;
  }

  .featured-products .book {
    flex-direction: column;
    margin: 1em;
    background-color: lightgoldenrodyellow;
  }

  .featured-products .book .book-info{
    text-align: center;
  }

}

@media(max-width: 700px){
  .App-header{
    align-content: center;
    flex-direction: column-reverse;
  }

  .social-icons{
    display: none;
  }

  .branding{
    justify-content: center; /* center the title */
  }

  .App-logo{
    display:none;
  }

  /* Navigation Styles */
  nav{
    flex-direction: column;
    padding-top: 0;
  }

  nav a{ /* Menu Items */
    display: block; /* display stacked (column) */
    border-right: 3px solid black;
    border-bottom: none;
    box-sizing: border-box;
  }

  nav a:last-child{ 
    border-bottom: 3px solid black; /* fix borders */
  }

  nav label{ /* Show Hamburger Icon */
    display: block;
  }

  #navitems{
    display: none;
  }

  nav input:checked ~ #navitems {
    display: block;
  }

  /* StoreFront */

  .main-products .book{
    width: auto;
  }

  /* Footer */

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer .social-icons{
    display: block;
  }

  footer .social-icon{
    height: 45px;
    padding-right: 30px
  }
  footer .social-icon:first-child{
    padding-right: 22px
  }

  footer p{
    font-family: monospace;
    color: grey;
  }
}